.achievement {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.achievement h1 {
  font-size: 38px;
  font-weight: bold;
  margin: 100px 0;
}
.infos {
  display: flex;
  width: 100%;
  margin-bottom: 100px;
}
.case {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.case a {
  color: black;
}
.case p {
  text-align: center;
  padding: 0 20px;
}

.icon {
  margin-bottom: 15px;
}
.line {
  border-left: 1px solid black;
}
.details {
  margin-bottom: 100px;
  margin-top: 30px;
}
.details h2 {
  font-size: 20px;
  font-weight: bold;
  margin-top: 40px;
  padding-bottom: 10px;
}
.details p {
  margin-top: 10px;
}
.pictureDiv {
  height: 100%;
  width: 100%;
}
.pictureDivPhone {
  background-color: white;
  height: 100%;
}
.picture {
  height: 100%;
  width: 100%;
}
.picturePhone {
  max-height: 600px;
  max-width: 280px;
  object-fit: cover;
}
.details ul {
  text-indent: -20px;
  padding-left: 20px;
}
.details li {
  list-style: circle;
  list-style-position: inside;
  padding: 5px 0;
}
@media (max-width: 1180px) {
  .details {
    padding: 0 20px;
  }
}
@media (max-width: 576px) {
  .achievement h1 {
    font-size: 26px;
  }
  .infos {
    flex-wrap: wrap;
    margin-bottom: 50px;
  }
  .case {
    flex: none;
    width: calc(50% - 1px);
    margin-bottom: 20px;
  }
  .line:nth-child(2) {
    margin-bottom: 20px;
  }
  .line:nth-child(4) {
    border-left: none;
    border-bottom: solid black 1px;
    width: 100%;
    margin: 0 20px;
    margin-bottom: 20px;
  }
  .line:nth-child(6) {
    margin-bottom: 20px;
  }
}
