.achievement {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.achievement h1 {
  font-size: 38px;
  font-weight: bold;
  margin: 80px 0;
}
.infos {
  display: flex;
  width: 100%;
  margin-bottom: 100px;
}
.case {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.case a {
  color: black;
}
.case p {
  text-align: center;
}

.icon {
  margin-bottom: 15px;
}
.line {
  border-left: 1px solid black;
}
.details {
  width: 100%;
  margin-bottom: 100px;
  margin-top: 30px;
}
.details h2 {
  font-size: 20px;
  font-weight: bold;
  margin-top: 40px;
  padding-bottom: 10px;
}
.details p {
  margin-top: 10px;
}
.pictureDiv {
  height: 100%;
  width: 100%;
}
.pictureDivPhone {
  background-color: white;
  height: 100%;
}
.picture {
  height: 100%;
  width: 100%;
}
.picturePhone {
  max-height: 600px;
  max-width: 280px;
  object-fit: cover;
}
.details ul {
  text-indent: -20px;
  padding-left: 20px;
}
.details li {
  list-style: circle;
  list-style-position: inside;
  padding: 5px 0;
}
