.block1 {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  min-height: 550px;
  padding-top: 50px;
}
.block1 h1 {
  font-size: 36px;
  font-weight: bold;
}
.block1 h2 {
  font-size: 22px;
  padding: 20px 0;
  text-transform: uppercase;
  text-align: center;
}
.profilePic {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-top: 50px;
}
.line {
  border-bottom: black solid 1px;
  width: 100%;
  padding-top: 10px;
}
@media (max-width: 576px) {
  .block1 {
    min-height: 450px;
  }
  .subTitle {
    width: 285px;
  }
  .block1 h1 {
    font-size: 26px;
  }
  .block1 h2 {
    font-size: 16px;
  }
}
